{% extends "./base.html" %}

{% load static %}
{% block content %}





        <div class="row">
            {% if not doctors %}
                <h1 class="text-center">No Doctors Found</h1>
            {%endif%}
            {% for doc in doctors %}
            <div class="col-md-4">
                <img src="{% static 'img/doc.svg' %}" class="img-fluid rounded-circle mb-3" alt="Profile Image">
            </div>
            <div class="col-md-8">
                <h1 class="mb-3">{{doc.first_name}} {{doc.last_name}}</h1>
                <p><strong>Experience:</strong> {{doc.experience}}</p>
                <p><strong>Specialization:</strong> {{doc.specialization}}</p>
                <p><strong>Address:</strong> {{doc.address}}</p>
                <p><strong>Bio:</strong> {{doc.professional_statement}}</p>
                <p><strong>Fee:</strong> Rs {{doc.consultancy_fee}}</p>
                <a href="#" class="btn btn-primary">Start Conversation</a>
            </div>
            <br>
            {% endfor %}
            </div>

        </div>
        

        {% endblock content %}