{% extends "./base.html" %}

{% block content %} 

{% load static %}

<h1>Welcome to Online Doctor Consultancy</h1>
<p>Get expert medical advice from the comfort of your home.</p>


<div class="p-3 rounded-pill d-flex justify-content-between border border-1">
    <h5 class="my-auto">Consult with Top Doctors Online, 24x7</h5>
    <button class="p-2 rounded-pill border border-1"> <a href="{% url 'choose-services' %}" >
            Start Consultation

        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="blue" class="bi bi-arrow-right ms-3"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8">
            </path>
        </svg>
    </a>
    </button>
</div>
{% endblock content %}